.box-notification-setting {
    border-top-right-radius: 10px; 
    border: 30px solid #05AACE;
    border-left: none;
    border-bottom: none; 
}

.imageNotification{
    margin-top: 2vh;
    width: 974px;
    height: 641px;
    display: block;
}
.tittle-resignated{
    margin-top: 5vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    width: 412px;
}

.feat{
    background-color:#D3FFF5 ;
    color: #1CB59C;
    border-radius: 30%;
    padding: 5px;
    width: 63px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.date-feat{
    font-family: 'Open Sans', sans-serif;
    color: #7D879C;
    font-size: 14px;
 
}

.text-resignated{
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    color: #7D879C;
    font-size: 14px;
    width: 974px;
}
.notification-container {
    position: relative; /* Permite posicionar la línea vertical */
    margin-top: 5vh;
  }
  
  .notification-line {
    position: absolute; 
    left: 10px; 
    top: 0; 
    width: 4px; 
    height: 100%; 
    background-color: #1CB59C;
  }
  
  .notification-line::before {
    content: '';
    display: block; 
    position: absolute; 
    top: 0; 
    left: -7px;
    width: 20px; 
    height: 20px; 
    background-color: #1CB59C; 
    border-radius: 50%;
  }